/config.py
.idea
/data/ceidg_ids.pickle
/downloaded_nips/
__pycache__/
data/__pycache__/


/test.pickle
/API_Datastore_20190314.pdf
/results/ceidg_data.pickle
/results/raw_data.pickle

/data/ceidg_ids_1993.pickle
/data/ceidg_ids_1994.pickle
/data/ceidg_ids_1995.pickle
/data/ceidg_ids_1996.pickle
/data/ceidg_ids_1998.pickle
/data/ceidg_ids_1997.pickle
/data/ceidg_ids_1999.pickle
/data/ceidg_ids_2000.pickle
/data/ceidg_ids_2001.pickle
/data/ceidg_ids_2002.pickle
/data/ceidg_ids_2003.pickle
/data/ceidg_ids_2004.pickle
/data/ceidg_ids_2005.pickle
/data/ceidg_ids_2006.pickle
/data/ceidg_ids_2007.pickle
/data/ceidg_ids_2008.pickle
/data/ceidg_ids_2009.pickle
/data/ceidg_ids_1992.pickle
/data/ceidg_ids_1991.pickle
/results/ceidg_data.feather
/results/raw_data.feather
/results/ceidg_data_sample.feather
/results/ceidg_data_sample.pickle
/results/raw_data_surv.feather
